/* estilo geral */
.galeria {
  grid-column: 1 / -1;
}

.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide-wrapper {
  overflow: hidden;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

/*estilo do custom-constrol */
.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1/-1;
}

.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}
